@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("kitsu.io") {
  /*
  Give things a dark background and white text.
  */
  .global-row, .primary-nav, .cover-nav, .library-list, .library-entry, .entry-wrapper.row,
  .add-comment-wrapper, .stream-item-comments, .stream-error-wrapper, body, .d-inline,
  .new-comment, .media-posters, .quick-update {
    background: rgb(39, 44, 51) !important;
    border-color: rgb(39, 44, 51) !important;
    color: white !important;
  }
  /*
  These things have a dark background, white text, and a lighter border.
  */
  button, .section-head, a.nav-item.nav-link,
  .library-dropdown, .drop-options, .drop-options div,
  .entry-right div, .stream-add-content, .stream-item,
  .stream-item--title-block, .aggregate-date,
  .checklist, .panel-heading, .nav-tabs, .favorite-placeholder,
  .footer-social, .dropdown-menu, .feed-actions .card,
  .d-inline .active, .user-menu-drop .dropdown-item,
  .settings--header, .settings--section-head {
    background: rgb(39, 44, 51) !important;
    border-color: #545d69 !important;
    border-width: 1px !important;
    color: white !important;
  }
  /*
  Library entries transition on hover. This tells them to transition
  to a lighter background, dark border.
  */
  .entry-wrapper.row:hover {
    /*
    background: #545d69 !important;
    */
    background: rgb(39, 44, 51) !important;
    border-color: rgb(39, 44, 51) !important;
  }
  /*
  This actually gets rid of the number input spin buttons until you
  actually hover over them. I'd prefer to just make them look bigger,
  but until I figure out how to do that, this is okay I guess.
  */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
      -moz-appearance: number-input;
  }
  /*
  This makes the library dropdown item have a border and be the same
  size as the button that drops it down. Same with the activity dropdown.
  */
  #ember1310, #ember3131 {
    border-color: #545d69 !important;
    border-style: solid !important;
    border-bottom-width: 1px !important;
    border-top-width: 1px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    font-size: 12px !important;
    min-width: 137px !important;
  }
  /*
  Give the search bar on the anime and manga page curved corners.
  */
  .media-poster-header {
    border-radius: 25px !important;
  }
  /*
  Get rid of the bottom border of the now curved search bar.
  */
  .filter-container {
    border-bottom-width: 0 !important;
  }
  /*
  They look kind of tiny.
  */
  .entry-rating {
    font-size: 14px !important;
  }
  /*
  Make the navbar background be transparent at the top,
  as it's supposed to be.
  */
  nav.transparent {
    background: 0 0 !important;
  }
  /*
  Make the activity date and media title text white.
  */
  .author-secondary, .media-title {
    color: white !important;
  }
  /*
  The global container on the anime and manga page
  has a linear gradient background for some reason
  and it's literally just half and half purple and
  white and it looks garbage.
  */
  .global-container {
    background: rgb(39, 44, 51) !important;
  }
  /*
  The notifications alarm SVG turns black when the navbar is not transparent.
  Trying to make it white, but can't seem to.
  */
  .collapse a, .notifications svg, .svgIcon-use, svg {
    color: white !important;
    fill: white !important;
  }
  /*
  Remove the shadow from cover photos.
  */
  .dark-cover-overlay {
    background: 0 0 !important;
  }
}
